@import './base.css';

#app {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #2693B4;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}